body {
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.container1 {
    display: grid;
    grid-template-columns: 1fr;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 120px;
    /*color*/
    background:#e5f5fc;
}

.left-side {
    display: flex;
}

.nav-wrapper>.left-side>div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.right-side {
    display: flex;
}

.nav-wrapper>.right-side>div {
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.brand {
    font-family: 'Bungee', "Lato", sans-serif;
    font-weight: bolder;
    color: #4070f4;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.active-nav-link {
    border-bottom: 1px solid black;
}

.active-nav-link a {
    color: black !important;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
    color: black;
}


/*  Sign up sign in 
*/


/* home page*/

#border {
    width: 90%;
    /* width of the wraper, larger width then more books on each row, now it dsiplays 3 books each row*/
    max-width: 1450px;
    margin: 50px auto;
    /* Font*/
    font-family: Calluna, Arial;
}


/* size of the border*/

.row figure {
    width: 30%;
    margin-right: 1%;
}


/*cascading style function*/

.row figure:nth-child(3) {
    margin-right: 0;
}


/* The zoom in, aka hover effect when you put your mouse on one book */

#books figure:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
}


/* The opacity effect on the rest of the screen when you put your mouse on one book
    the smaller the opacity is the stronger its effect is*/

#books:hover figure:not(:hover) {
    opacity: 0.35;
}


/* The border around each book*/

div#books figure {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #3a56a3;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    /* move to right, down */
    margin: 0 20px 35px;
    /* text don't break*/
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    break-inside: avoid;
    /* image to center */
    padding: 30px;
    /* space in between buy button and border */
    padding-bottom: 5px;
    /* background color of the border box , white and lightblue now*/
    background: -webkit-linear-gradient(45deg, #FFF, #c9e5f1);
    /* opacity of the whole page*/
    opacity: 1;
    /* animation duration of the hover effect*/
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}


/* image of books*/

div#books figure img {
    /* Set image size */
    width: 335px;
    height: 385px;
    padding-bottom: 15px;
    padding-left: 2.5em;
    margin-bottom: 5px;
}


/* output books' name here*/

div#books figure figcaption {
    font-size: .9rem;
    color: rgb(12, 12, 12);
    line-height: 1.5;
    height: 60px;
    /*bold or not */
    font-weight: 1000;
    text-overflow: ellipsis;
}


/* buy button*/

a.button {
    padding: 10px;
    background: #4070f4;
    margin: 10px;
    display: block;
    text-align: center;
    color: #fff;
    transition: all 0.1s linear;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    border-bottom: 3px solid #4070f4;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}


/* color during hover effect */

a.button:hover {
    background: #4070f4;
    border-bottom: 3px #4070f4;
    color: #f1f2f3;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    transform: scale(1.02);
}


/* 11/20/2022 style for smaller button in categories.php */

#c-border {
    width: 90%;
    /* width of the wraper, larger width then more books on each row, now it dsiplays 3 books each row*/
    max-width: 1000px;
    margin: 50px auto;
    /* Font*/
    font-family: Calluna, Arial;
}


/* 11/22/2022 */


/* book detail page*/

#border_book_page {
    /* using 80% of the max space*/
    width: 80%;
    /* width of the wraper*/
    max-width: 1000px;
    /* margin to the center of the page*/
    margin: 100px auto;
    /* Font*/
    font-family: Calluna, Arial;
}


/* The border around book details*/

div#book_page figure {
    /* move to right, down */
    margin: 0 50px 35px;
    /* space in between buy button and border */
    padding-bottom: 5px;
    /* opacity of the whole page*/
    opacity: 1;
    /* animation duration of the hover effect*/
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    /* if text too long, break to new line and add hyphen if a word is broken*/
    word-wrap: break-word;
    hyphens: auto;
}


/* image of the book*/

div#book_page figure img {
    /* Set image size */
    width: 490px;
    height: 600px;
    /* display on the left*/
    float: left;
}


/* output books' detail, including book name, description, isbn, author, publisher*/

div#book_page figure figcaption {
    /* position of text, move downward and to the right*/
    padding-top: 5em;
    margin-left: 38em;
    /*bold or not */
    font-weight: 500;
}


/* add to cart button*/

a.toCart {
    /*size of the button*/
    height: 45px;
    width: 1500px;
    /*color*/
    background: #4070f4;
    display: block;
    /* position of the button*/
    margin-top: 15em;
    /* text of the button*/
    text-align: center;
    line-height: 40px;
    /* effect configurations*/
    color: #fff;
    transition: all 0.2s;
    text-decoration: none;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    border-bottom: 10px solid #4070f4;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}


/* effect */

a.toCart:hover {
    /* color during hover effect*/
    background: #4070f4;
    color: #f1f2f3;
    /* scale of hover enlarge effect larger number bigger button*/
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    transform: scale(1.02);
<<<<<<< HEAD
}
=======

}



/* 11/30/2022 search box style*/
.search_box {
    overflow: hidden;
    width:800px;
    padding-left: 6em;

    height: 50px;
    
  }

 
.search_box input[type=text] {
    float: none;
    border: none;
    font-size: 17px;
    width: 580px;
    height: 45px;
}
.search_box .search-container {
    float: none;
    
  }

  .topnav .search-container button {
    float: right;
    background: #ddd;
    font-size: 25px;
    border: none;
    cursor: pointer;
    padding-top: 1em;
  }


  /* Message box configuration */
.errorMsg {
    padding: 20px;
    background-color: #df5313;
    color: white;
    margin-bottom: 15px;
}
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }
>>>>>>> 06d427cdb017d797c0989895c0270a832cdf0013
